html{
    background-color: white;    
    background-image: url(wallpaper_nologo.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

body {
    padding: 0;
    margin: 0;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272E6F;
}
  
.li {
    float: left;
}
  
.li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.li a:hover, .dropdown:hover .dropbtn {
    background-color: #F99D1C;
}
  
.li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.TitleCSGO{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.footer{
    color: white;
    text-align: center;
}

.container {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
}

.partone {
    padding: 1%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    color: antiquewhite;
    height: 30%;
}
.parttwo {
    color: white;
    height: 40%;
}
.partthree {
    color: white;
    height: 30%;
}

.container2 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
}
.partone2 {
    color: white;
    height: 50%;
}
.parttwo2 {
    color: white;
    height: 20%;
}
.partthree2 {
    color: white;
    height: 30%;
}
#img1{
    height: 200px;
    width: 200px;
}
#img2{
    height: 20px;
    width: 20px;
}

.containerArme{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 10px;
}

.containerArmeD{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.containerArmeG{
    width: 60%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    color: white;
}

.titreArme{
    border: solid #26283a 2px;
    width: 266px;
    text-align: center;
    background-color: #26283a;
    color: #F99D1C;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
}

.imageArme{
    border: solid #F99D1C 2px;
    width: 266px;
    height: 200px;
}

#imageArme{
    border: solid #F99D1C 2px;
    width: 266px;
    height: 150px;
}

.texteDroite{
    border: solid #F99D1C 2px;
    width: 266px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    color: white;
}

.nomArme{
    margin-left: 10px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    color: #F99D1C;
}